{% extends 'blank.html' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/devices">Devices</a></li>
    <li class="breadcrumb-item active">{{ device.name }}</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Device - {{device.name}}
    </div>

    <div class="card-body">
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Device Channel:</b> /api/devices/{{ device.id }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Name:</b> {{ device.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ device.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Home Floor:</b> {{ device.home_floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ device.created_at }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Status
    </div>
    <div class="card-body">
        {% if status %}
            <table class="table" id="infoTable" width="100%" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <b>Last status message:</b> {{ status.timestamp | format_unix_time}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Battery:</b> {{ status.info.battery }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Temperature:</b> {{ status.info.temperature }}
                    </td>
                </tr>
                </tbody>
            </table>
        {% else %}
        There are no recent info acknowledgements.
        {% endif %}
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Location History
    </div>
    <div class="card-body">
        {% if location %}
        <table class="table" id="locationTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Location Algorithm:</b> {{ location.type }}
                </td>

            <tr>
                <td>
                    {% if location.beacon %}
                    <b>Last seen by:</b> {{ location.beacon.identifier }} - {{ location.beacon.name }} - {{ location.beacon.description }}
                    {% else %}
                    <b>Last seen by: Unknown</b>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>
                    <b>Timestamp at:</b> {{ location.timestamp | format_unix_time }}
                </td>
            </tr>
            {% if location.beacon %}
            <tr>
                <td>
                    <b>Floor:</b> {{ location.beacon.home_floor.name}}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td valign="center" align="center">
                    <img src="{{ url_for( 'static', filename='files/%s' % [username, '/', device.id, '/', device.name]|join ) }}"
                         alt="Floor Plant" width="80%">
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
        There are no recent location acknowledgements.
        {% endif %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Movement History
    </div>
    <div class="card-body">
        {% if movements %}
        <table class="table" id="movementTable" width="100%" cellspacing="0">
            <tbody>
            {% for movement in movements %}
                <tr>
                    <td>
                        <b>Timestamp:</b> {{ movement.timestamp | format_unix_time }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no recent movement acknowledgements.
        {% endif %}
    </div>
</div>


{% endblock %}