{% extends 'blank.html' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/devices">Devices</a></li>
    <li class="breadcrumb-item active">{{ device.name }}</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Device - {{device.name}}
    </div>

    <div class="card-body">
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Device Channel:</b> /api/devices/{{ device.id }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Name:</b> {{ device.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ device.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Home Floor:</b> {{ device.home_floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ device.created_at }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Acknowledgements
    </div>
    <div class="card-body">
        {% if beacon %}
        <table class="table" id="ackTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Last seen by:</b> {{ beacon.identifier }} - {{ beacon.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Timestamp at:</b> {{ device.created_at }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Floor:</b> {{ beacon.home_floor.name}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Floor info:</b> {{ beacon.home_floor.description}}
                </td>
            </tr>
            <tr>
                <td valign="center" align="center">
                    <img src="{{ url_for( 'static', filename='files/%s' % [username, '/', device.id, '/', device.name]|join ) }}"
                         alt="Floor Plant" width="80%">
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
        There are no recent acknowledgements.
        {% endif %}
    </div>
</div>

{% endblock %}