{% extends 'blank.html' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active">Devices</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Devices List
    </div>
    <div class="card-body">
        {% if devices %}
        Add more devices.
        {% else %}
        You don't have any devices listed.
        {% endif %}
        <br/>
        <br/>
        <button class="btn btn-primary" type="submit"
                onclick="window.location.href='/devices/new'">
            Create New
        </button>
    </div>
</div>

{% if devices %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Devices List
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                {% for device_info in devices %}
                <tr>
                    <td>
                        {{ device_info.device.name }}
                    </td>
                    <td>
                        {{ device_info.device.description }}
                    </td>
                    <td>
                        {{ device_info.status.status | decode_status}} @ {{device_info.status.timestamp | format_unix_time }}
                    </td>
                    <td>
                        <button class="btn btn-primary btn-block" type="submit"
                                onclick="window.location.href='/devices/{{ device_info.device.id }}'">
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-secondary btn-block" type="submit"
                                onclick="window.location.href='/devices/{{ device_info.device.id }}/delete'">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}