{% extends 'blank.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
<style>
    .map {
        height: 400px;
        width: 100%;
    }
</style>
{% endblock %}
{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/devices">Devices</a></li>
    <li class="breadcrumb-item active">{{ device.name }}</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Device - {{device.name}}
    </div>

    <div class="card-body">
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Device Channel:</b> /api/devices/{{ device.id }}/messages
                </td>
            </tr>
            <tr>
                <td>
                    <b>Name:</b> {{ device.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ device.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Home Floor:</b> {{ device.home_floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ device.created_at | format_time_from_time_object }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">

        <table border="0" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td width="87.5%">

                    <i class="fa fa-info-circle"></i> {{ device.name }} - Location History

                </td>
                {% if location %}
                <td>
                    <button class="btn btn-primary" id="backHistory"
                            onclick="backHistory()">
                        <
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" id="nextHistory"
                            onclick="nextHistory()">
                        >
                    </button>
                </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body">
        {% if location.exists %}
        <p hidden id="locationCount">0</p>
        <table class="table" id="locationTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Location Algorithm:</b> <span id="locationAlgorithm">{{ location.type }} </span>
                </td>
            <tr>
                <td>
                    <b>Position:</b>
                    <span id="locationPosition">
                    {% if location.type == 'Proximity' %}
                        Strongest Beacon - {{ location.beacon.identifier }} - {{ location.beacon.name }} - {{location.beacon.description }}
                    {% elif location.type == 'Precision' %}
                        <b>X = </b> {{ location.x_real }} cm ||
                        <b>Y = </b> {{ location.y_real }} cm ||<br>
                        Strongest Beacon: {{ location.beacon.identifier }} - {{ location.beacon.name }} - {{location.beacon.description }}
                    {% else %}
                        Unknown
                    {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Timestamp at:</b> <span id = "locationTimestamp">{{ location.timestamp | format_unix_time }} </span>
                </td>
            </tr>
            {% if location.beacon %}
            <tr>
                <td>
                    <b>Floor:</b> {{ location.beacon.home_floor.name}}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td valign="center" align="center">
                    <div id="map" class="map">
                        <div id="popup"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
        There are no recent location acknowledgements.
        {% endif %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Status
    </div>
    <div class="card-body">
        {% if status %}
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Info:</b> {{ status.status | decode_status }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Last status message:</b> {{ status.timestamp | format_unix_time}}
                </td>
            </tr>

            </tbody>
        </table>
        <div id="statusChart" style="min-width: 310px; height: 150px; margin: 0 auto"></div>
        {% else %}
        There are no recent info acknowledgements.
        {% endif %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Movement History
    </div>
    <div class="card-body">
        {% if movements %}
        <div id="movementChart" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        {% else %}
        There are no recent movement acknowledgements.
        {% endif %}
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Temperature
    </div>
    <div class="card-body">
        {% if temperature %}
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Temperature:</b> {{ temperature.temperature }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Timestamp:</b> {{ temperature.timestamp | format_unix_time}}
                </td>
            </tr>

            </tbody>
        </table>

        <div id="temperatureChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


        {% else %}
        There are no recent info acknowledgements.
        {% endif %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ device.name }} - Battery
    </div>
    <div class="card-body">
        {% if battery %}
        <table class="table" id="infoTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Battery:</b> {{ battery.battery }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Timestamp:</b> {{ battery.timestamp | format_unix_time}}
                </td>
            </tr>

            </tbody>
        </table>

        <div id="batteryChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        {% else %}
        There are no recent info acknowledgements.
        {% endif %}
    </div>
</div>


{% endblock %}


{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
<script src="{{ url_for('static', filename='js/device.js') }}"></script>

{% endblock %}