{% extends 'blank.html' %}

{% block head %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
<style>
    .map {
        height: 400px;
        width: 100%;
    }
</style>

{% endblock %}


{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/floors">Floors</a></li>
    <li class="breadcrumb-item active">{{ floor.name }}</li>
</ol>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Floor - {{floor.name}}
    </div>

    <div class="card-body">
        <div style="padding-bottom: inherit">
            Here you can manage this floor.
        </div>
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="/floors/{{ floor.id }}/beacons">
            <button class="btn btn-primary" type="button">Manage Beacons</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ floor.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Name:</b> {{ floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ floor.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ floor.created_at }}
                </td>
            </tr>
            <tr>
                <td valign="center" align="center">
                    <div id="map" class="map"><div id="popup"></div></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">




    // Map views always need a projection.  Here we just want to map image
    // coordinates directly to map coordinates, so we create a projection that uses
    // the image extent in pixels.
    var extent = [0, 0, 2048, 1024];
    var projection = new ol.proj.Projection({
        code: 'xkcd-image',
        units: 'pixels',
        extent: extent
    });


    // ICON----
    var iconFeature = new ol.Feature({
        geometry: new ol.geom.Point([1024, 512])
    });

    var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {module:ol/style/Icon~Options} */ ({
            src: 'https://openlayers.org/en/latest/examples/data/icon.png'
        }))
    });

    iconFeature.setStyle(iconStyle);

    var vectorSource = new ol.source.Vector({
        features: [iconFeature]
    });

    var vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });
    // ICON----


    var map = new ol.Map({
        layers: [
            new ol.layer.Image({
                source: new ol.source.ImageStatic({
                    url: 'http://127.0.0.1:5000/static/files/bruno/2/plant.png',
                    projection: projection,
                    imageExtent: extent
                })
            }),
            vectorLayer
        ],
        target: 'map',
        view: new ol.View({
            projection: projection,
            center: [1024, 512, 1024, 512],
            zoom: 2,
            maxZoom: 4
        })
    });
</script>
{% endblock %}
