{% extends 'blank.html' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/floors">Floors</a></li>
    <li class="breadcrumb-item active">{{ floor.name }}</li>
</ol>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Floor - {{floor.name}}
    </div>

    <div class="card-body">
        <div style="padding-bottom: inherit">
            Here you can manage this floor.
        </div>
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="/floors/{{ floor.id }}/beacons">
            <button class="btn btn-primary" type="button">Manage Beacons</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ floor.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Name:</b> {{ floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ floor.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ floor.created_at }}
                </td>
            </tr>
            <tr>
                <td valign="center" align="center">
                    <img src="{{ url_for( 'static', filename='files/%s' % [username, '/', floor.id, '/', floor.plant_name]|join ) }}"
                         alt="Floor Plant" width="80%">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Dumps
    </div>
    <div class="card-body">
        {% if dumps %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                    {% for dump in dumps %}
                    <tr>
                        <td>
                        </td>
                        <td>
                            <!-- <a data-toggle="collapse">
                                 <button class="btn btn-primary btn-block" data-target="#expand-{{ dump.pk }}" type="button">
                                     View
                                 </button>
                             </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        You don't have any dumps listed.
        {% endif %}
    </div>
</div>

-->

{% endblock %}