{% extends 'blank.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
<style>
    .map {
        height: 400px;
        width: 100%;
    }
</style>

{% endblock %}


{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">WhereMi</a></li>
    <li class="breadcrumb-item active"><a href="/floors">Floors</a></li>
    <li class="breadcrumb-item active">{{ floor.name }}</li>
</ol>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-list"></i> Manage Floor - {{floor.name}}
    </div>

    <div class="card-body">
        <div style="padding-bottom: inherit">
            Here you can manage this floor.
        </div>
        <a href="#">
            <button class="btn btn-primary" type="button">Edit</button>
        </a>
        <a href="/floors/{{ floor.id }}/beacons">
            <button class="btn btn-primary" type="button">Manage Beacons</button>
        </a>
        <a href="#">
            <button class="btn btn-primary" type="button">Delete</button>
        </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-info-circle"></i> {{ floor.name }} - Info
    </div>
    <div class="card-body">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td>
                    <b>Name:</b> {{ floor.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b> {{ floor.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Size X:</b> {{ floor.x_size }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Size Y:</b> {{ floor.y_size }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ratio X:</b> {{ floor.x_ratio }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Offset X:</b> {{ floor.x_offset }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ratio Y:</b> {{ floor.y_ratio }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Offset Y:</b> {{ floor.y_offset }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Created at:</b> {{ floor.created_at | format_time_from_time_object }}
                </td>
            </tr>
            <tr>
                <td valign="center" align="center">
                    <div id="map" class="map">
                        <div id="popup"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
<script src="{{ url_for('static', filename='js/floor.js') }}"></script>
{% endblock %}
